<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="Microfi CashTokens Distribution Application on Bitcoin Cash">
	<meta name="web" content="https://microfi.onrender.com">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:title" content="CashTokens Distribution Application">
	<meta property="og:description" content="Microfi CashTokens Distribution Application on Bitcoin Cash">
	<meta property="og:image" content="">
	<title>CashTokens Distribution Application</title>
	<link rel="icon" type="image/png" sizes="42x42" href="./img/microfi_app.png">
	<style>
		body {
			overflow-wrap: anywhere;
			max-width: 1000px;
			font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
			font-size: 20px;
			text-align: center;
			background-color: black;
			color: whitesmoke;
			margin: auto;
		}

		body p {
			font-size: 16px;
		}

		a:link {
			color: #0AC18E;
			background-color: transparent;
			text-decoration: underline;
		}

		a:visited {
			color: #0AC18E;
			background-color: transparent;
			text-decoration: underline;
		}

		.container {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			margin: 0;
			padding: 0;
		}

		.card {
			background-color: #212121;
			color: whitesmoke;
			margin: 10px;
			border-radius: 10px;
			overflow: hidden;
			width: 800px;
			height: auto;
		}

		.card img {
			width: 200px;
			height: 200px;
			object-fit: cover;
		}

		.card p {
			text-align: center;
			font-size: 16px;
			margin: 10px;
		}

		@media screen and (max-width: 600px) {
			p img {
				max-width: 95%;
			}
		}
	</style>
</head>

<body>
	<div>
		<h2>Microfi<br>CashTokens Distribution Application</h2>
		<p><img src="./img/bitcoin-cash-logo.png" alt="BCH" width="200"></p>
		<p>Discover the power of <a href="https://cashtokens.org">CashTokens</a> with ZOMBIE <img src="./img/zombie_icon.png" alt="" width="96"></p>
	</div>
	<div class="container">
		<div class="card">
			<p></p>
			<!-- <p><img src="./img/zombie_icon.png" alt="" width="360"></p> -->
			<h3>Claim 20000 ZOMBIE CashTokens<br>every 10 minutes</h3>
			<p>Total amount to be distributed: 20 million ZOMBIE</p>
			<br>
			<p>1. Send 4000 satoshi (0.00004 BCH) to:<br>bitcoincash:qz2ajh3pcp06rqrjgw5df0a02yrg2jypeywg34pafc</p>
			<p><img src="./img/qrcode1.png" alt="qr1" width="200"></p>
			<p>The app uses BCH`s 0-conf feature. Do not send more than 4000 satoshi at a time.</p>
			<br>
			<p>2. Your Bitcoin Cash wallet address (cashtokens aware):</p>
			<p>
			<form class="input" action="/" method="post">
				<p><input type="text" name="userAddress" required="required" size="50" placeholder="bitcoincash:z..."></p>
				<p><input type="submit" value="Claim ZOMBIE"></p>
			</form>
			</p>
			<p><%= content %></p>
			<p><a href="https://explorer.bitcoinunlimited.info/tx/<%= txIds %>"><%= txIds %></a></p>
			<p><%= error %></p>
			<br>
			<p>Once claimed, you must wait at least 10 minutes to send the satoshis and claim again.</p>
      		<br>
		</div>
	</div>
	<br>
	<div>
		<p>Token info:</p>
		<p>
			Name: <b>ZOMBIE</b><br>
			Symbol: <b>ZOMBIE</b><br>
			Decimals: 0<br>
			TokenId:<br><a href="https://explorer.salemkode.com/token/b3dd6dee4e783acd755d216dd39e34faae748c43927dcb82152b6c2affd57bab">b3dd6dee4e783acd755d216dd39e34faae748c43927dcb82152b6c2affd57bab</a>
		</p>
		<br>
		<p>ZOMBIEs have been seen on<br><a href="https://tapswap.cash/trade/b3dd6dee4e783acd755d216dd39e34faae748c43927dcb82152b6c2affd57bab">TapSwap CashTokens Marketplace</a> and <a href="https://app.cauldron.quest">Cauldron DEX</a></p>
		<p>Check Legendary Zombie Government Coins <a href="https://zombiecoins.pages.dev">NFT</a></p>
	</div>
	<!-- <br>
	<div>
		<p>Donations to zombie food:<br>bitcoincash:qr8j9fzlmsdfy52n37pg2frqaddsjs99qyat9nwf88</p>
		<p><img src="./img/qrcode2.png" alt="qr2" width="200"></p>
	</div> -->
	<br><br>
	<footer>
		<p><a href="https://github.com/mazetoken/microfiapp/"><img src="./img/githubwhite.png" alt="Github" width="36"></a> <a href="https://t.me/mazetokens"><img src="./img/telegram.png" alt="TelegramIcon" width="36"></a> <a href="https:zombies.onuniverse.com"><img src="./img/zombie_icon.png" alt="ZombieIcon" width="36"></a></p>
		<p>Microfi Free Flow <img src="./img/microfi_icon.png" alt="Microfi" width="36"> & Maze Tokens Underworld <img src="./img/mtu.png" alt="MTU" width="36">, 2020-2024</p>
	</footer>
	<br>
	<script src="./server.js" type="application/octet-stream"></script>
</body>

</html>