<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Microfi CashTokens Distribution App</title>
  <meta name="description" content="Microfi CashTokens Distribution App (faucet) on Bitcoin Cash">
  <meta name="web" content="https://github.com/mazetoken/microfiapp/">
  <link rel="icon" type="image/png" sizes="42x42" href="./img/microfiappicon.png">
  <style>
    body {
      overflow-wrap: anywhere;
      text-align: center;
      max-width: 768px;
      margin: auto;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      background-color: black;
      font-size: large;
      color: #FFFFFF;
    }
    p {
      font-size: medium;
    }
    a:link {
      color: teal;
      background-color: transparent;
      text-decoration: none;
    }
    a:visited {
      color: #0AC18E;
      background-color: transparent;
      text-decoration: none;
    }
    @media screen and (max-width: 512px) {}
  </style>
  <!-- <script src="https://hcaptcha.com/1/api.js" async defer></script> -->
</head>

<body>
  <div>
    <p><img src="./img/microfiapp.png" alt="microfi" width="360"></p>
    <p><img src="./img/bitcoin-cash-logo.png" alt="microfi" width="200"></p>
    <p><i>Discover the power of <a href="https://cashtokens.org">CashTokens</a> with Microfi CashTokens Distribution App</i></p>
    <hr>
    <div>
      <h3>Currently distributed token:</h3>
      <!-- <h3>MESH (MESH) CRC20 CashTokens</h3>
      <h3>Claim 500 MESH<br>every 30 minutes</h3>
      <p><i>It`s free or almost free.</p>
      <p>If there are no funds, send 2000 satoshi (0.00002 BCH) to:</p>
      <p>bitcoincash:qz2ajh3pcp06rqrjgw5df0a02yrg2jypeywg34pafc<br><br>
        <img src="./img/qrcode1.png" alt="qr1" width="200"><br><br>
        and click Claim
      </p>
      <p>You need Bitcoin Cash CashTokens aware address (bitcoincash:z...) to claim MESH</i></p>
      <form action="/" method="post">
        <input type="text" name="userAddress" size="56" placeholder="bitcoincash:z..."><br>
        <br>
        <div class="h-captcha" data-sitekey=""></div>
        <br>
        <input type="submit" value="Claim"><br>
      </form>
      <br>
      <p><%= content %></p>
      <p><a href="https://explorer.salemkode.com/tx/<%= txIds %>"><%= txIds %></a></p>
      <p><%= error %></p>
    </div>
      <p>Distribution app wallet address:<br>
        <a href="https://explorer.salemkode.com/address/bitcoincash:zz2ajh3pcp06rqrjgw5df0a02yrg2jypeyfzzt0mkt">bitcoincash:zz2ajh3pcp06rqrjgw5df0a02yrg2jypeyfzzt0mkt</a>
      </p>
      <p>
        Name: MESH<br>
        Symbol: MESH<br>
        Decimals: 8<br>
        TokenId:<br><a href="https://explorer.salemkode.com/token/15b6e0152a4ecb7a561ac0e1f3dca540db8133c520bffdaf532e6d99b4f980e3">15b6e0152a4ecb7a561ac0e1f3dca540db8133c520bffdaf532e6d99b4f980e3</a>
      </p>
      <p>For more information, please visit Dark Labs CashTokens <a href="https://darklabs.pages.dev">website</a></p>
      <p><img src="./img/meshmain.png" width="200"></p>
      <hr> -->
    <footer>
      <p>To support Microfi apps, consider donating a small amount of BCH to:</p>
      <p>bitcoincash:qr8j9fzlmsdfy52n37pg2frqaddsjs99qyat9nwf88<br><br>
        <img src="./img/qrcode2.png" alt="qr2" width="200"><br>
        </p>
      <hr>
      <h3>Credits</h3>
      <p><a href="https://mainnet.cash">mainnet.cash</a><br>
        <a href="https://cashonize.com">cashonize.com</a><br>
        <a href="https://electroncash.org">electroncash.org</a><br>
        <a href="https://microfi.eu">microfi.eu</a>
      </p>
      <hr>
      <p>Previously distributed tokens:</p>
      <p><a href="https://darklabs.pages.dev">MESH</a></p>
      <p><a href="https://microfi.eu">Microfi Free Flow</a> (XMI) <img src="./img/microfi_icon.png" width="52"><br>
         Distribution ran from May 25, 2023 to June 28, 2023
      </p>
      <hr>
      <p>Contact:</p>
      <p><a href="https://github.com/mazetoken/microfiapp/"><img src="./img/githubwhite.png" alt="Github" width="36"></a>
        <a href="https://t.me/mazetokens"><img src="./img/telegram.png" alt="TelegramIcon" width="36"></a><br>
        <br>
        Microfi Free Flow Project, 2023
      </p>
    </footer>
  </div>
  <br>
  <script src="./server.js" type="application/octet-stream"></script>
</body>
</html>