<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Microfi Free Flow CashTokens Distribution App</title>
  <meta name="description" content="Microfi Free Flow CashTokens Distribution App (faucet) on Bitcoin Cash">
  <meta name="web" content="https://microfi.cyclic.cloud">
  <link rel="icon" type="image/png" sizes="42x42" href="./img/microfiappicon.png">
  <style>
    body {
      overflow-wrap: anywhere;
      text-align: center;
      max-width: 1000px;
      margin: auto;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      background-color: black;
      font-size: large;
      color: #FFFFFF;
    }
    p {
      font-size: medium;
    }
    a:link {
      color: teal;
      background-color: transparent;
      text-decoration: none;
    }
    a:visited {
      color: #0AC18E;
      background-color: transparent;
      text-decoration: none;
    }
    @media screen and (max-width: 600px) {}
  </style>
  <!-- <script src="https://hcaptcha.com/1/api.js" async defer></script> -->
</head>
<body>
  <div>
    <p><img src="./img/microfi.png" alt="microfi" width="420"></p>
    <p><img src="./img/bitcoin-cash-logo.png" alt="BCH" width="200"></p>
    <p><i>Discover the power of <a href="https://cashtokens.org">CashTokens</a> with Microfi Free Flow CashTokens Distribution App</i></p>
    <hr>
  </div>
  <div>
    <h3>Currently distributed token:</h3>
    <h3>LOLLIPOP (LOLLIPOP) CRC20 CashTokens</h3>
    <h3>Claim 5000 LOLLIPOP<br>every 20 minutes</h3>
    <p><i>It`s free or almost free.</p>
    <p>If there are no funds, send 2000 satoshi (0.00002 BCH) to:</p>
    <p>bitcoincash:qz2ajh3pcp06rqrjgw5df0a02yrg2jypeywg34pafc<br><br>
      <img src="./img/qrcode1.png" alt="qr1" width="200"><br><br>
      and click Claim
    </p>
    <p>You need Bitcoin Cash CashTokens aware address (bitcoincash:z...) to claim LOLLIPOP</i></p>
    <form action="/" method="post">
      <input type="text" name="userAddress" size="56" placeholder="bitcoincash:z..."><br>
      <br>
        <!-- <div class="h-captcha" data-sitekey=""></div>
      <br> -->
      <input type="submit" value="Claim"><br>
    </form>
    <br>
    <p><%= content %></p>
    <p><a href="https://explorer.bitcoinunlimited.info/tx/<%= txIds %>"><%= txIds %></a></p>
    <p><%= error %></p>
    <br>  
    <p>Distribution app wallet address:<br>
      <a href="https://explorer.bitcoinunlimited.info/address/bitcoincash:zz2ajh3pcp06rqrjgw5df0a02yrg2jypeyfzzt0mkt">bitcoincash:zz2ajh3pcp06rqrjgw5df0a02yrg2jypeyfzzt0mkt</a>
    </p>
    <p>
      Name: LOLLIPOP<br>
      Symbol: LOLLIPOP<br>
      Decimals: 2<br>
      TokenId:<br><a href="https://explorer.salemkode.com/token/bc1faf2615c0b2bdf94036f40f7b3b7bca87f8e515660905b4c454e150ee4f68">bc1faf2615c0b2bdf94036f40f7b3b7bca87f8e515660905b4c454e150ee4f68</a>
    </p>
    <p>For more information, please visit Dark Labs CashTokens <a href="https://darklabs.pages.dev">website</a></p>
    <p><img src="./img/lollipop.png" width="200"></p>
    <hr>
  </div>
  <div>
    <p>Previously distributed tokens:</p>
    <p><a href="https://darklabs.pages.dev">MESH</a> CRC20 CashToken <img src="./img/meshmain.png" width="52"><br>
      Distribution ran to October 2, 2023
    </p>
    <p><a href="https://microfi.eu/token">Microfi Free Flow</a> (XMI) <img src="./img/microfi_icon.png" width="52"><br>
      Distribution ran from May 25, 2023 to June 28, 2023
    </p>
    <br>
    <p>To support Microfi Free Flow project, consider donating a small amount of BCH to:</p>
    <p>bitcoincash:qr8j9fzlmsdfy52n37pg2frqaddsjs99qyat9nwf88<br><br>
      <img src="./img/qrcode2.png" alt="qr2" width="200"><br>
    </p>
    <hr>
  </div>
  <footer>
    <p>Credits:<br><a href="https://mainnet.cash">mainnet.cash</a></p>
    <br>
    <p><a href="https://microfi.eu"><img src= "./img/microfi_icon.png" alt="Microfi" width="36"> </a><a href="https://github.com/mazetoken/microfiapp/"><img src="./img/githubwhite.png" alt="Github" width="36"></a> <a href="https://t.me/mazetokens"><img src="./img/telegram.png" alt="TelegramIcon" width="36"></a></p>
    <p>Microfi Free Flow Project, 2023</p>
  </footer>
  <br>
  <script src="./server.js" type="application/octet-stream"></script>
</body>
</html>