<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Microfi Free Flow</title>
  <meta name="description" content="Microfi Free Flow (XMI) CashToken on Bitcoin Cash blockchain">
  <meta name="web" content="https://github.com/mazetoken/microfi/">
  <link rel="icon" type="image/ico" sizes="32x32" href="./img/favicon.ico">
  <style>
    body {
      text-align: center;
      max-width: 768px;
      margin: auto;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      background-color: black;
      font-size: large;
      color: #FFFFFF;
    }
    p {
      font-size: small;
    }
    a:link {
      color: #0AC18E;
      background-color: transparent;
      text-decoration: none;
    }
    a:visited {
      color: #0AC18E;
      background-color: transparent;
      text-decoration: none;
    }
    .collapsible {
			background-color: #0AC18E;
      border-radius: 12px;
			font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
			color: white;
			cursor: pointer;
			padding: 18px;
			width: 33%;
			border: none;
			text-align: center;
			outline: none;
			font-size: 14px;
		}
		.active, .collapsible:hover {
			background-color: #0AC18E;
		}
		.content {
			padding: 0 18px;
			display: none;
			overflow: hidden;
			background-color: black;
		}
    @media screen and (max-width: 512px) {}
  </style>
  <script src="https://hcaptcha.com/1/api.js" async defer></script>
</head>

<body>
  <div>
    <p><img src="./img/microfi.png" alt="microfi" width="360"></p>
    <hr>
    <div>
      <h3>Claim 100 XMI (10000 MI)<br>every 1 hour</h3>
      <p><i>It`s free. No login required. You need CashTokens aware address- bitcoincash:z...</i></p>
      <form action="/" method="post">
        <input type="text" name="userAddress" size="56" placeholder="bitcoincash:z..."><br>
        <br>
        <div class="h-captcha" data-sitekey="18b02976-2241-4563-87e9-1ce821fe7f7e"></div>
        <br>
        <input type="submit" value="Claim"><br>
      </form>
      <br>
      <p><%= content %></p>
      <p><a href="https://explorer.salemkode.com/tx/<%= txIds %>"><%= txIds %></a></p>
      <p><%= error %></p>
    </div>
    <p>
       Name: Microfi Free Flow<br>
       Symbol: XMI<br>
       Decimals: 2<br>
       The smallest unit: MI<br>
       TokenId:<br><a href="https://explorer.salemkode.com/token/b69f76548653033603cdcb81299e3c1d1f3d61ad66e7ba0e6569b493605b4cbe">b69f76548653033603cdcb81299e3c1d1f3d61ad66e7ba0e6569b493605b4cbe</a><br>
       Genesis txId:<br> <a href="https://explorer.salemkode.com/tx/8a93e3c629b2d406f4f1623a8a83dd117239afcb62118b710edc0d216abb48e4">8a93e3c629b2d406f4f1623a8a83dd117239afcb62118b710edc0d216abb48e4</a><br>
       <p>Microfi Free Flow (XMI) is fungible CashToken issued on Bitcoin Cash blockchain.<br> It is an experimental and speculative digital asset.<br>
        The total supply of 1 million XMI (100 million MI) is distributed for free.<br>
        For more information, please visit the Microfi <a href="https://microfi.univer.se">website</a>.
        </p>
       <br>
       <img src="./img/microfi_icon.png" width="128">
    </p>
    <hr>
    <footer>
      <button type="button" class="collapsible">Donate BCH or CashTokens</button>
			<div class="content">
      <p>Donate BCH:<br>bitcoincash:qp0944jn8nzxg84xpcxuqa36z0pj0frwvcj9yr7qma<br>
         <img src="./img/qrcode1.png" alt="qr1" width="128"><br>
         Donate CashTokens:<br>bitcoincash:zp0944jn8nzxg84xpcxuqa36z0pj0frwvc40hasxyw<br>
         <img src="./img/qrcode2.png" alt="qr2" width="128">
      </p>
      </div>
      <hr>
      <h3>Credits</h3>
      <p><a href="https://mainnet.cash">mainnet.cash</a></p>
      <p><a href="https://cashonize.com">cashonize.com</a></p>
      <p><a href="https://cashtokens.org"><img src="./img/cashtokens.png" alt="CashTokens" width="128"></a></p>
      <hr>
      <h3>Contact</h3>
      <p><a href="https://microfi.univer.se"><img src="./img/microfi_icon.png" width="42"></a>
        <a href="https://github.com/mazetoken/microfi/"><img src="./img/github-mark-white.png" alt="Github" width="42"></a>
        <a href="https://mazetoken.github.io"><img src="./img/maze_icon.png" alt="MazeIcon" width="42"></a>
        <a href="https://t.me/mazetokens"><img src="./img/telegram.png" alt="TelegramIcon" width="42"></a>
      </p>
      <p>Check Mazey <a href="https://mazetoken.github.io/mazey/">wallet</a></p>
    </footer>
  </div>
  <br>
  <script src="./server.js"></script>
  <script>
		var coll = document.getElementsByClassName("collapsible");
		var i;
		for (i = 0; i < coll.length; i++) {
		  coll[i].addEventListener("click", function() {
			this.classList.toggle("active");
			var content = this.nextElementSibling;
			if (content.style.display === "block") {
			  content.style.display = "none";
			} else {
			  content.style.display = "block";
			}
		  });
		}
	</script>
</body>
</html>